body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    /*overflow: hidden;*/
    overflow: auto;
    outline: auto;
    background-color: #19181D;
}

:root {
    /*--nav-bg-color: #1a237e;*/
    --nav-bg-color: #131213;
    /* Define a CSS variable for the navigation background color */
    --nav-bg-color-dark: #0e0d0e;
    --height: 20px;
}

header,
nav,
main,
footer {
    outline: auto;
    outline-color: #0e0d0e;
    background-color: var(--nav-bg-color);
}

main {
    padding: 10px;
}

.header {
    display: flex;
    flex-direction: row;
}

.header .logo:hover {
    filter: brightness(0.9);
}

.header h1 {
    /*
    outline: auto;*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container {
    width: 100%;
    padding: 10px;
}

.navmain {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navmain main {
    flex: 3;
    margin-left: 10px;
}

#text {
    transition: opacity 0.5s;
}

.sidebar {
    left: 0;
    top: 0;
    bottom: 0;
    flex: 1;
    transition: flex 0.3s ease;
    overflow: hidden;
}

.sidebar.collapsed {
    flex: 0.2;
}

main.collapsed {
    flex: 1;
}

.sidebar.collapsed a {
    width: 0;
    opacity: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    /*outline: auto;*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}


/*.sidebar.collapsed li {
    outline: none;
}*/

.sidebar a:hover {
    filter: brightness(0.8);
    background-color: var(--nav-bg-color-dark);
}

.sidebar a {
    /*
    display: flex;
    justify-content: flex-end;*/
    text-decoration: none;
    outline: auto;
    outline-color: #333333;
    padding: 5px;
}

.sidebar a img {
    height: var(--height);
}

.sidebar.collapsed a {
    outline: none;
}

#toggleButton {
    background-color: var(--nav-bg-color);
    height: fit-content;
    width: auto;
}

#toggleButton img {
    height: 50px;
    width: auto;
}

#toggleButton:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.bx i {
    height: 50px;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.footer img {
    height: 70px;
    width: auto;
}

.footer img:hover {
    filter: brightness(0.8);
}


/*Downloads*/


/*
.downloadsMain {
    outline: auto;
}*/

.downloadsMain a {
    display: flex;
    flex-direction: column;
    margin: 10px;
}


/**/


/*EQUIPE*/

.equipeMain {
    display: flex;
    flex-direction: column;
}

.equipeMain img {
    width: 40%;
    height: auto;
    margin: 10px;
}

.equipeMain img:hover {
    cursor: pointer;
}

.thomas,
.thom,
.edgar,
.loic,
.asmae {
    display: flex;
}

.thomas p,
.thom p,
.edgar p,
.loic p,
.asmae p {
    display: flex;
    align-items: center;
}


/*EQUIPE*/


/*#087E8B*/

.box {
    display: block;
    border-block-color: black;
}