body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    /*overflow: hidden;*/
    overflow: auto;
    outline: auto;
    /*outline-color: magenta;*/
    background-color: teal;
    /*cursor: url('images/froegOutlineThin.png'), auto;*/
}

header,
nav,
main,
footer {
    outline: auto;
    background-color: magenta;
}

.header {
    display: flex;
    flex-direction: row;
}

.container {
    width: 100%;
    padding: 10px;
}

.navmain {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navmain nav {
    flex: 1;
}

.navmain main {
    flex: 3;
}

.footer {
    display: flex;
}

.box {
    display: block;
    border-block-color: black;
}