body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    /*overflow: hidden;*/
    overflow: auto;
    outline: auto;
    /*outline-color: magenta;*/
    background-color: teal;
    /*cursor: url('images/froegOutlineThin.png'), auto;*/
}

header,
nav,
main,
footer {
    outline: auto;
    background-color: magenta;
}

.header {
    display: flex;
    flex-direction: row;
}

.container {
    width: 100%;
    padding: 10px;
}

.navmain {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navmain main {
    flex: 3;
}

#text {
    transition: opacity 0.5s;
}

.sidebar {
    left: 0;
    top: 0;
    bottom: 0;
    flex: 1;
    transition: flex 0.3s ease;
    overflow: hidden;
}

.sidebar.collapsed {
    flex: 0.3;
}

main.collapsed {
    flex: 1;
}

.sidebar.collapsed a {
    width: 0;
    opacity: 0;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.footer {
    display: flex;
}


/**/

.box {
    display: block;
    border-block-color: black;
}