@font-face {
    font-family: 'CustomFont';
    src: url('fonts/runescape_bold.ttf') format('truetype');
}

:root {
    /*--body-font-color: #add8e6;*/
    --body-font-color: #FFFEFE;
    /*--a-font-color: rgb(144, 238, 144);*/
    --a-font-color: #FFFEFE;
}

body {
    font-family: 'CustomFont', 'Franklin Gothic Medium';
    font-size: large;
}

h1,
h2,
h3 {
    color: var(--body-font-color);
}

p {
    color: var(--body-font-color);
}

.sidebar a {
    color: var(--a-font-color);
}

.sidebar a:visited {
    text-decoration: none;
    color: var(--a-font-color)
}

.footer a {
    color: var(--a-font-color);
}

.footer a:visited {
    text-decoration: none;
    color: var(--a-font-color);
}


/*Downloads*/

.downloadsMain a {
    text-decoration: none;
    color: var(--a-font-color);
}

.downloadsMain a:hover {
    filter: brightness(0.8);
}


/**/